--extra-index-url https://download.pytorch.org/whl/cpu
torch

streamlit
groq==0.36.0
sentence-transformers==3.0.1
langchain
langchain_openai
langchain-community
langchain-text-splitters
chromadb
python-dotenv
pandas